.feedbackCard {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(61, 61, 61, 0.7);
}
.feedbackCardWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 20px;
}
.card_top {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 6px;
}
.card_top_username {
  font-size: 16px;
  font-weight: 700;
}
.card_top_time {
  font-size: 16px;
  color: rgba(61, 61, 61, 0.7);
}
.card_center {
  width: 100%;
  font-size: 16px;
  padding-top: 10px;
}
.card_center_text {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.feedbackTextarea {
  width: 100%;
  word-wrap: break-word;
  font-family: "NotoSansKR", "Poppins", sans-serif !important;
  font-size: 16px;
  white-space: pre-wrap;
  overflow: hidden;
  resize: none;
  border: 0.5px solid rgb(198, 91, 14);
  border-radius: 5px;
  background-color: white;
  outline: none;
  padding: 2px;
}

.card_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0 0;
  align-items: flex-end;
}
.card_bottom_comment {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.card_bottom_comment_length {
  position: absolute;
  left: 130%;
  bottom: -10%;
  color: rgba(61, 61, 61, 0.7);
}
.card_comment {
  display: flex;
  flex-direction: column;
}
.commentInput {
  width: 100%;
  height: 28px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.commentInputIcon {
  flex-basis: 10%;
  display: flex;
  align-items: center;
}
.commentInputInput {
  flex-basis: 90%;
  display: flex;
  align-items: center;
  height: 100%;
}
.commentInputInput input {
  font-family: "NotoSansKR", "Poppins", sans-serif !important;
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0.5px solid rgba(61, 61, 61, 0.7);
  outline: none;
  padding: 5px;
}
