.login {
  width: auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.loginVideo {
  position: fixed;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 120%;
  min-height: 100%;
}
.kittyOn {
  display: flex;
  width: 200px;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  z-index: 2222;
}
.kittyOff {
  display: flex;
  width: 200px;
  flex-direction: row;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  z-index: 2222;
}
.kittyOn img {
  width: 100%;
}
.kittyOff img {
  width: 100%;
}
.kittyInput {
  position: absolute;
  display: flex;
  bottom: -3.3%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.kittyInput input {
  border: 0;
  width: 130px;
  height: 50px;
  outline: none;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}
