.eventInput {
  width: 100%;
  display: flex;
  align-items: center;
  height: 35px;
  padding-top: 5px;
  position: relative;
}
.eventInputMain {
  flex-basis: 95%;
  height: 100%;
}

.eventInputMain input {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding: 0 3px;
  background-color: rgba(255, 255, 255, 0.45);
}

.color {
  flex-basis: 5%;
  height: 100%;
}
