.navMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translateX(0%);
  height: 100%;
  width: 73vw;
  background-color: white;
  transition: 0.5s;
  z-index: 8888;
  border-right: 1px solid black;
}

.navMenuHidden {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translateX(-200%);
  height: 100%;
  width: 73vw;
  background-color: white;
  transition: 0.5s;
  z-index: 8888;
  border-right: 1px solid black;
}

.x {
  display: flex;
  justify-content: end;
  flex-basis: 5%;
}
.xIcon {
  cursor: pointer;
}

.navLoginOn {
  display: flex;
  flex-basis: 15%;
  padding: 0 20px;
  align-items: end;
}
.navLoginOff {
  display: flex;
  flex-basis: 15%;
  padding: 0 20px;
  align-items: center;
}
.navLoginOk {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navLoginOk span {
  font-size: 14px;
  background-color: #b4fcbe;
  padding: 0 3px;
}
.userMenuOn {
  visibility: visible;
  display: flex;
  flex-direction: column;
}
.nameChangeMenu {
  height: 24px;
}
.logout {
  height: 24px;
}
.userMenuOff {
  visibility: hidden;
}
.nameChange {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.nameChange input {
  width: 100px;
  border: 0;
  outline: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
  font-family: "NotoSansKR", "Poppins", sans-serif !important;
  height: 24px;
}
.nameChange button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0px;
  font-family: "NotoSansKR", "Poppins", sans-serif;
  font-size: 14px;
  height: 100%;
}

.navLoginReady {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.navMenuCenter {
  flex-basis: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 0 20px;
  justify-content: center;
}
.home {
  cursor: pointer;
}
.calendar {
  cursor: pointer;
}
.wishlist {
  cursor: pointer;
}
.adult {
  cursor: pointer;
}
.setting {
  cursor: pointer;
}
.feedback {
  cursor: pointer;
}
.information {
  cursor: pointer;
}

.navMenuFooter {
  flex-basis: 20%;
  border-top: solid 1px #000;
  margin: 0 20px;
}
.phone {
  font-weight: 700;
  font-size: 12px;
  padding: 10px 0;
  cursor: pointer;
}
.infoBox {
  font-size: 12px;
}
