.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 2.5%;
  right: 5%;
  z-index: 8888;
}
.navClick {
  cursor: pointer;
  z-index: 9999;
  width: 70px;
}
.navClick img {
  width: 100%;
}
