.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 2.5%;
  right: 5.5%;
  z-index: 8888;
}
.navClickOn {
  cursor: pointer;
  z-index: 9999;
  width: 60px;
  transform: rotate(70deg);
  transition: 0.5s;
}
.navClickOff {
  cursor: pointer;
  z-index: 9999;
  width: 60px;
  transition: 0.5s;
}
.nav img {
  width: 100%;
}
